.bankInfo {
    .importantInfo {
        font-weight: 600;
        font-size: 1.15rem;
        font-family: 'Source Sans Pro', sans-serif;
        margin-bottom: 30px;
    }
    .inputHint {
        text-align: center;
        color: #741763;
    }
}

.loaderWrapper {
    margin-top: 40px;
}