.identityForm {
    width: 550px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 60px;
    margin-bottom: 70px;
    padding: 40px 60px;
    box-shadow: 8px 15px 30px #0000001A;
    h3 {
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .validID {
        font-size: .85rem;
        margin-bottom: 25px;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .passportVerify {
        margin-top: 25px;
    }
    .passportImg {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: .85rem;
    }
    .extraTip {
        font-size: .8rem;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 10px;
        margin-bottom: 0;
        span {
            font-weight: 600;
            color: #741763;
        }
    }
}