.container {
    text-align: center;
    h1 {
        font-weight: 700;
        font-size: 1.9rem;
        color: #741763;
    }
    h2 {
        text-align: left;
        font-weight: 700;
        color: #741763;
    }
    .leadText {
        font-size: 1.3rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: #212121;
    }

    .profileProgress {
        margin-top: 40px;
    }

}

.bvnFormBox {
    width: 500px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 60px;
    margin-bottom: 70px;
    padding: 40px 60px;
    box-shadow: 8px 15px 30px #0000001A;
    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.2rem;
    }
    .extraTip {
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 5px;
        font-size: .85rem;
        span {
            font-weight: 600;
        }
    }
}

.identityForm {
    width: 550px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 60px;
    margin-bottom: 70px;
    padding: 40px 60px;
    box-shadow: 8px 15px 30px #0000001A;
    h3 {
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .validID {
        font-size: .85rem;
        margin-bottom: 25px;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .passportVerify {
        margin-top: 25px;
    }
    .passportImg {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: .85rem;
    }
    .extraTip {
        font-size: .8rem;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 10px;
        margin-bottom: 0;
        span {
            font-weight: 600;
            color: #741763;
        }
    }
}

.stageComplete {
    width: 550px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 60px;
    margin-bottom: 70px;
    padding: 40px 60px;
    box-shadow: 8px 15px 30px #0000001A;
    h2 {
        font-weight: 700;
        color: #741763;
        margin-top: 10px;
        text-align: center;
    }
    p {
        font-size: 1.1rem;
        margin-bottom: 5px;
        font-family: 'Source Sans Pro', sans-serif;
    }
}

.profileBox {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 8px 15px 30px #0000001A;
    margin-top: 80px;
    .borderStyle {
        border-right: 1px solid #707070;
    }
    .tabMenu {
        cursor: pointer;
    }
    .tabCol {
        padding-right: 0px;
        &:nth-child(2) {
            padding-left: 0px;
        }
    }
    .activeTab1 {
        background-color: #fff;
        border-top-left-radius: 15px;
    }
    .activeTab2 {
        background-color: #fff;
    }
    .activeTab3 {
        background-color: #fff;
        border-top-right-radius: 15px;
    }
    .header {
        background-color: #EBEBEB;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        p {
            padding: 18px 0px;
            color: #606060;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 0;
        }
    }
    .body {
        padding: 50px 80px;
        h2 {
            margin-bottom: 40px;
            text-align: center;
        }
        .security {
            padding: 0 140px;
        }
    }
}