.reportsTable {
  background-color: #fff;
  border-radius: 10px;
  padding: 24px 24px 60px 24px;
  box-shadow: 8px 15px 30px #0000001a;
  overflow-x: scroll;
  position: relative;
  table {
    thead {
      background-color: #741763;
      color: #fff;
      th,
      td {
        white-space: nowrap;
      }
    }
    tbody {
      td {
        white-space: nowrap;
      }
    }
  }
  .tableFooter {
    display: flex;
    align-items: center;
    position: absolute;
    right: 24px;
    .rowsInput {
      p {
        margin-bottom: 0;
        margin-right: 14px;
      }
      select {
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        padding: 7px 14px;
        width: 70px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #f0f0f0
          url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='12' height='12' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='black'/></g></svg>")
          no-repeat;
        background-position: right 15px top 50%;
        &:focus {
          outline: none;
        }
      }
      display: flex;
      align-items: center;
    }
    .pagination {
      margin-left: 30px;
      justify-content: flex-end;
      margin-bottom: 0;
      .active {
        span {
          background-color: #741763 !important;
          border: 1px solid #741763;
        }
      }
      a {
        color: #000;
      }
    }
  }
}

.nullList {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}
