:root {
    --fontColorOne:  #212121;
    --fontFamilyOne: 'Source Sans Pro';
    --fontFamilyTwo: 'Kanit';
    --backgroundOne: ' #F5F5F5';
}

.headerText {
    font-weight: 600;
}
.modalBody {
    padding: 0 20px;
}

.otpBody {
    padding: 20px 50px;
}