:root {
    --fontColorOne:  #212121;
    --fontFamilyOne: 'Source Sans Pro';
    --fontFamilyTwo: 'Kanit';
    --backgroundOne: ' #F5F5F5';
}

.welcomeGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        font-weight: 700;
    }
    p {
        font-family: var(--fontFamilyOne);
        font-size: 1.05rem;
    }
    button {
        background-color: #F6F6F6;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        padding: 10px 24px;
        font-family: var(--fontFamilyOne);
        font-size: 1.2rem;
        &:focus {
            outline: none;
        }
        .icon {
            font-size: 1.5rem;
            margin-right: 20px;
            color: #741763;
        }
    }
}

.stats {
    margin-top: 70px;
    .statBox {
        background-color: #E5E5E5;
        border: 1px solid rgba(132, 31, 232, 0.5);
        border-radius: 10px;
        padding: 26px;
        height: 150px;
        h5 {
            font-family: var(--fontFamilyOne);
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 18px;
        }
        .statInfo {
            display: flex;
            align-items: center;
            margin-left: 15px;
            h3 {
                margin-bottom: 0;
                font-weight: 700;
                font-family: var(--fontFamilyOne);
                margin-left: 20px;
                font-size: 2.6rem;
            }
        }
    }
}

.recentLoans {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            font-size: 1.5rem;
            font-family: var(--fontFamilyOne);
            font-weight: 600;
            margin-bottom: 0;
        }
    }
    margin-top: 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 8px 15px 30px #0000001A;
    padding: 18px 28px;
    .table {
        margin-top: 45px;
        thead {
            background-color: #741763;
            color: #fff;
        }
        .loanId {
            color: #0075D7;
            font-weight: 600;
        }
    }
}