:root {
    --fontColorOne:  #212121;
    --fontFamilyOne: 'Source Sans Pro';
    --fontFamilyTwo: 'Kanit';
    --backgroundOne: ' #F5F5F5';
}

.detailFields {
    padding: 40px 60px;
    font-family: var(--fontFamilyOne);
    .basicInfo {
        h4 {
            font-size: 1.45rem;
            font-weight: 600;
        }
    }
}