.container {
    background-color: #F5F5F5;
    overflow-x: hidden;
    .header {
        height: 80px;
        border-bottom: .5px solid #DDDDDD;
        .logoGrid {
            background-color: #741763;
            padding-left: 50px;
            display: flex;
            align-items: center;
        }
        .navGrid {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 50px;
        }
        .altNavGrid {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 50px;
            padding-left: 50px;
        }
    }
    .menuPanel {
        min-height: calc(100vh - 80px);
        background-color: #741763;
        padding-right: 0;
        position: relative;
        .menuList {
            padding-left: 35px;
            margin-top: 100px;
            ul {
                list-style-type: none;
                padding-inline-start: 0;
                li {
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    a {
                        font-family: 'Source Sans Pro', sans-serif;
                        color: #fff;
                        margin-left: 25px;
                        font-size: 1.1rem;
                        font-weight: 600;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            .authGroup {
                position: absolute;
                bottom: 30px;
                li {
                    cursor: pointer;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #fff;
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }
        }
    }
    .mainPanel {
        padding-left: 0;
    }
}

.activeMenu {
    background-color: #F5F5F5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

a.activeLink {
    color: #741763 !important;
}

.mainContent {
    padding: 40px 50px;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
}

.searchBar {
    position: relative;
    .searchTerm {
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        width: 450px;
        border-radius: 5px;
        padding: 9px 60px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.05rem;
        &:focus {
            outline: none;
        }
    }
    .searchIcon {
        position: absolute;
        left: 25px;
        font-size: 1rem;
        color: #741763;
        top: calc(50% - 0.5rem);
    }
}

.profileGroup {
    display: flex;
    align-items: center;
}

.profileAvi {
    display: flex;
    align-items: center;
    img {
        width: 54px;
        height: 54px;
        border-radius: 100%;
    }
    .avatarWrapper {
        width: 54px;
        height: 54px;
        border-radius: 100%;
        background-color: #DDDDDD; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p {
        font-family: 'Source Sans Pro', sans-serif;
        &:first-child {
            margin-bottom: 0;
            font-size: 1.05rem;
            font-weight: 600;
        }
        &:last-child {
            margin-bottom: 0;
            font-size: 0.95rem;
        }
    }
    .userInfo {
        margin-left: 20px;
    }
}