.productsMenu {
    background-color: #F5F5F5;
    padding: 100px 100px;
    margin-top: -100px;
    .container {
        max-width: 1200px;
        margin-top: 120px;
        .boxLink {
            color: #000;
            &:hover {
                text-decoration: none;
            }
        }
        .menuBox {
            background-color: #E2E2E2;
            border-radius: 14px;
            text-align: center;
            padding: 40px 30px;
            height: 220px;
            cursor: pointer;
        }
        .activeMenu {
            background-color: #fff;
            border-radius: 14px;
            text-align: center;
            padding: 40px 30px;
            height: 220px;
            box-shadow: 8px 15px 30px #0000001A;
            cursor: pointer;
        }
        h3 {
            font-size: 1.35rem;
            font-weight: 600;
            font-family: 'Kanit', sans-serif;
            margin-top: 25px;
        }
        .iconWrapper {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            .credit {
                width: 50px;
            }
            .notes {
                width: 30px;
            }
        }
    }
}

.ctaBanner {
    padding: 20px 100px;
    background-color: #F5F5F5;
    .container {
        max-width: 1200px;
        .bannerBox {
            position: relative;
            background-color: #741763;
            text-align: center;
            height: 380px;
            border-radius: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                color: #fff;
                font-size: 3.3rem;
                font-weight: 600;
            }
            p {
                font-size: 1.3rem;
                font-family: 'Source Sans Pro', sans-serif;
                color: #f5f5f5;
                margin-top: 20px;
            }
            .circleOutlineOne {
                width: 350px;
                height: 350px;
                border-radius: 100%;
                border: 9px solid #F5F5F591;
                position: absolute;
                bottom: -100px;
                left: -100px;
            }
            .circleOutlineTwo {
                width: 220px;
                height: 220px;
                border-radius: 100%;
                border: 9px solid #F5F5F591;
                position: absolute;
                bottom: -50px;
                left: -50px;
            }
            .firstCircle {
                width: 85px;
                height: 85px;
                background-color: #F5F5F545;
                border-radius: 100%;
                position: absolute;
                top: 30px;
                left: 180px;
            }
            .secondCircle {
                width: 30px;
                height: 30px;
                background-color: #F5F5F545;
                border-radius: 100%;
                position: absolute;
                top: 30px;
                left: 170px;
            }
            .thirdCircle {
                width: 200px;
                height: 200px;
                background-color: #F5F5F545;
                border-radius: 100%;
                position: absolute;
                right: -100px;
                bottom: -100px;
            }
            .fourthCircle {
                width: 250px;
                height: 250px;
                background-color: #F5F5F545;
                border-radius: 100%;
                position: absolute;
                top: -120px;
                right: 200px;
            }
            .fifthCircle {
                width: 60px;
                height: 60px;
                background-color: #F5F5F545;
                border-radius: 100%;
                position: absolute;
                bottom: 100px;
                right: 41%;
            }
            .sixthCircle {
                width: 30px;
                height: 30px;
                background-color: #F5F5F545;
                border-radius: 100%;
                position: absolute;
                top: 200px;
                right: 21%;
            }
            .downIcon {
                width: 70px;
                height: 70px;
                border-radius: 100%;
                background-color: #8a64e8;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -35px;
                color: #fff;
            }
            .textBtn {
                background-color: rgba(0,0,0,0);
                border: none;
                color: #fff;
                font-size: 1.3rem;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 600;
                text-decoration: underline;
                margin-top: 30px;
            }
            .customBtn {
                z-index: 5;
                position: relative;
            }
        }
    }
}

.features {
    padding: 120px 100px 40px;
    background-color: #f5f5f5;
    text-align: center;
    .container{
        max-width: 1200px;
        .iconWrapper {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            img {
                width: 80px;
            }
        }
         h3 {
             font-size: 1.35rem;
             font-family: 'Kanit', sans-serif;
             font-weight: 600;
             margin-top: 20px;
         }
         p {
             font-size: 1.1rem;
             font-family: 'Source Sans Pro', sans-serif;
         }
    }
}

.howItWorks {
    padding: 80px 100px;
    background-color: #f5f5f5;
    .container {
        max-width: 1200px;
        .detailed {
            min-height: 500px;
            background-color: #E2E2E2;
            border-radius: 30px;
            padding: 60px 100px 60px 60px;
            h2 {
                font-size: 2.3rem;
                margin-bottom: 35px;
            }
            p {
                font-size: 1.1rem;
                font-family: 'Source Sans Pro', sans-serif;
            }
            .textBtn {
                background-color: rgba(0,0,0,0);
                display: block;
                margin-top: 40px;
                border: none;
                color:#741763;
                font-size: 1.2rem;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 600;
                text-decoration: underline;
                &:focus {
                    outline: none;
                }
            }
        }
        .steps {
            height: 400px;
            background-color:#FFFFFF;
            border-radius: 30px;
            margin: auto 0;
            margin-left: -80px;
            box-shadow: 15px 20px 35px #00000017;
            padding: 40px 60px;
            h3 {
                margin-bottom: 40px;
                font-family: 'Source Sans Pro', sans-serif;
                // font-size: 1.2rem;
                font-weight: 600;
            }
            .stepGroup {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                .icon {
                    display: block;
                    min-width: 48px;
                    margin-right: 20px;
                    font-size: 48px;
                }
                p {
                    margin-bottom: 0;
                    font-size: 1.3rem;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 600;
                }
            }
        }
        .imageCopy {
            height: 450px;
            background-color:#FFFFFF;
            border-radius: 30px;
            margin: auto 0;
            margin-left: -80px;
            box-shadow: 15px 20px 35px #00000017;
            padding: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // object-position: top;
                border-radius: 30px;
            }
        }
    }
}

.subscribeEmail {
    padding: 60px 100px;
    text-align: center;
    background-color: #f4e7f2;
    .container {
        max-width: 1200px;
        h2 {
            width: 60%;
            margin: 0 auto;
            font-weight: 700;
            font-size: 2.5rem;
            color: #741763;
            margin-bottom: 50px;
        }
        .emailInput {
            width: 70%;
            margin: 0 auto;
            position: relative;
            input {
                width: 100%;
                padding: 25px 50px;
                border-radius: 15px;
                border: none;
                box-shadow: 5px 10px 20px #00000017;
                font-size: 1.1rem;
                font-family: 'Source Sans Pro', sans-serif;
                &:focus {
                    outline: none;
                }
            }
            button {
                font-size: 1.1rem;
                font-family: 'Source Sans Pro', sans-serif;
                background-color: #A02089;
                border-radius: 10px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                padding: 13px 35px;
                border: 1px solid #A02089;
                position: absolute;
                right: 10px;
                top: 10.5px;
            }
        }
    }
}