.container {
    background-color: #F5F5F5;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 90px;
    h1 {
        font-size: 36px;
        font-weight: 700;
        color: #741763;
    }
    .subtitle {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
    }
}

.registerBox {
    width: 55%;
    background-color: #FFFFFF;
    box-shadow: 8px 15px 30px #0000001A;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    // margin-bottom: 90px;
    padding: 60px 80px 40px;
    .authLink {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.05rem;
        a {
            font-weight: 700;
            color: #741763;
        }
    }
    .legalLink {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1rem;
        margin-top: 75px;
        a {
            font-weight: 600;
            color: #741763;
        }
    }
}