.employerInfo {
    .inputHint {
        font-size: 0.75rem !important;
        color: #741763;
        text-align: left;
    }
    h3 {
        font-family: 'Kanit', sans-serif;
        margin-top: 40px;
    }
}

.loaderWrapper {
    margin-top: 40px;
}