:root {
    --fontColorOne:  #212121;
    --fontFamilyOne: 'Source Sans Pro';
    --fontFamilyTwo: 'Kanit';
    --backgroundOne: ' #F5F5F5';
}

.heroSection {
    background-image: url('../../assets/contact-us-hero.png');
    background-size: cover;
    height: 550px;
    position: relative;
    margin-top: -100px;
    .bgOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #EBEBEB;
        top: 0;
        opacity: .9;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        h2 {
            position: relative;
            z-index: 3;
            font-size: 3.5rem;
            font-weight: 700;
            color: #741763;
        }
    }
}

.mapSection {
    padding: 80px 100px;
    background-color: #f5f5f5;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        .map {
            width: 100%;
            height: 450px;
        }
    }
}

.contactSection {
    padding: 70px 100px;
    background-color: #f5f5f5;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        h3 {
            font-weight: 600;
            font-family: var(--fontFamilyTwo);
            color: #741763;
            margin-bottom: 30px;
        }
        .contactForm {
            background-color: #fff;
            border-radius: 15px;
            padding: 55px 60px;
            box-shadow: 8px 15px 30px #0000001A;
            button {
                display: block;
                margin-top: 15px;
                font-size: 1.1rem;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 600;
                padding: 10px 44px;
                border-radius: 12px;
                border: 2px solid #741763;
                background-color: rgba(0,0,0,0);
                color: #741763;
                transition: .5s;
                &:hover {
                    background-color: #741763;
                    color: #fff;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        .addressBox {
            background-color: #fff;
            border-radius: 15px;
            padding: 55px 60px;
            box-shadow: 8px 15px 30px #0000001A;
            height: 100%;
            .addressGroup {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                .icon {
                    display: block;
                    margin-right: 15px;
                }
                p {
                    margin-bottom: 0;
                    font-size: 1.1rem;
                    font-family: 'Source Sans Pro', sans-serif;
                }
            }
        }   
    }
}